<card>
    <h1>{{blog.title}}</h2>
    <h5>{{blog.user.username}}</h5>
    <p>{{blog.content}}</p>
</card>

{{#each comments}}
<card>
    <h5>{{this.user.username}}</h5>
    <p>{{this.content}}</p>
</card>
{{/each}}

{{#if loggedIn}}
<textarea id="comment-input" placeholder="Leave a comment."></textarea>
<button>submit</button>
{{/if}}

